:root {
    --evidenziatore: #f8f3d4;
    --grigioChiaro: #eef0f1;
    --grigioScuro: #383838;
    --rosso: #f6416c;
    --verde: #00b8a9 
}

*::selection {
    background: var(--evidenziatore);
}

body {
    background: var(--grigioChiaro);
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
}

p {
    line-height: 1.5;
}

a {
    color: var(--rosso);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    overflow: auto;
    padding: 10px;
    background: var(--grigioChiaro);
    border-radius: 5px;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
}

.codeExampleFileName {
	font-weight: 700;
	text-align: right;
}

img {
    max-width: 100%;
}

img.c64 {
    width: 50%;
}

.photoCredit {
    display: block;
    font-size: 14px;
}

main {
    flex: 1;
    max-width: 700px;
    padding: 40px 10px;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 0;
}

.mainHeader {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.tagline {
    font-style: italic;
    margin-top: 0;
}

.logo {
    color: var(--verde);
    margin-right: 10px;
    width: 50px;
}

.homeLink {
    align-self: center;
    color: #000;
    display: inline-flex;
    padding: 0 20px;
}

.homeLink:hover {
    text-decoration: none;
}

.mainNav {
    align-self: center;
}

.mainNav a {
    border: 1px solid var(--grigioChiaro);
    border-bottom: 5px solid;
    border-radius: 5px;
    color: var(--rosso);
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 0;
}

.mainNav a:hover {
    border-bottom: 3px solid;
    text-decoration: none;
    top: 2px;
}

.mainNav a:active {
    border-bottom: 1px solid var(--grigioChiaro);
    top: 4px;
}

article {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

article :not(pre) code {
    background: var(--grigioChiaro);
    border-radius: 3px;
    padding: 1px 3px;
}

article + article {
    margin-top: 100px;
}

.postHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.postHeader h2 {
    margin-bottom: 0;
    margin-right: 10px;
}

.postMeta {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 0;
}

footer {
    background: var(--grigioScuro);
    color: #fff;
    margin-top: 60px;
    padding: 20px;
}

.alignCenter {
    text-align: center;
}

@media only screen and (min-width: 616px) {
    body {
        margin: 0 auto;
    }

    main {
        margin: 0 auto;
    }
}